<blockquote class="twitter-tweet">
<p lang="en" dir="ltr">
  My story isn’t the only story, nor is it the central story of
  what happened on Jan 6th.<br><br>It is just one story of many of
  those whose lives were endangered at the Capitol by the lies, threats,
  and violence fanned by the cowardice of people who chose personal gain above democracy.
</p>
 &mdash; Alexandria Ocasio-Cortez (@AOC)
  <a href="https://twitter.com/AOC/status/1356458014853783552?ref_src=twsrc%5Etfw">February 2, 2021</a>
</blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
